<div class="modal modal-wide fade" id="mainAbout" tabindex="-1" role="dialog" aria-labelledby="mainAboutTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mainAboutTitle">DasJott - About</h4>
      </div>
      <div class="modal-body">

        <ul id="mainAboutSections" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#">Über Das Jott</a></li>
          <li><a href="#">Freizeitbeschäftigungen</a></li>
          <li><a href="#">Beruflicher Werdegang</a></li>
        </ul>
        
        <div id="mainAboutContents" class="nav-tabs-contents">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <h3><b>Ehemann</b></h3>
              </div>
              <div class="col-md-4 col-xs-12 text-center">
                <h3><b>Vater</b></h3>
              </div>
              <div class="col-md-4 col-xs-12 text-center">
                <h3><b>Softwareentwickler</b></h3>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h3><b>Freizeitbeschäftigungen</b></h3>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h3><b>Beruflicher Werdegang</b></h3>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- modal-body -->
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>-->
    </div>
  </div>
</div>

