#ignore some files and directories

/bin
/wwwroot
/project.lock.json

# my personal db
/Db/DasJott.db

# jQuery
/Sections/Common/Content/js/jquery-*.js

#jQuery-UI
/Sections/Common/Content/js/jquery-ui-*.js
/Sections/Common/Content/css/themes

# bootstrap
/Sections/Common/Content/fonts/glyphicons-halflings-regular.*
/Sections/Common/Content/less/bootstrap
/Sections/Common/Content/js/bootstrap.js

# bootbox.js
/Sections/Common/Content/js/bootbox.js

# bootstrap-chosen
/Sections/Common/Content/less/chosen
/Sections/Common/Content/img/chosen-sprite.png
/Sections/Common/Content/js/chosen.jquery.js

# bundle results are generated
/bundle.result.json
