@inject DasJott.Interfaces.Services.IBundleService Bundler
@{
  Layout = "~/Sections/Common/Views/_Layout.cshtml";
  Bundler.IncludeBundle("start");
  Bundler.IncludeBundle("about");
}

<div id="modalContainer"></div>

<div class="container-fluid" id="bodyContent" style="display: none;"></div>

<div class="container-fluid" id="bodyContentError" style="display: none;"></div>
