@using DasJott.ViewModels
@model HomeContent
@inject DasJott.Common.Services.IBundleService Bundler

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Home";
  Bundler.IncludeScript("home");
}

@if (Model.Articles != null && Model.Articles.Count() > 0) {
  foreach (var article in Model.Articles) {
    <div class="panel panel-default newspanel" style="display: none;">
      <div class="panel-heading">
        @article.Headline
      </div>
      <div class="panel-body">
        @article.Content
      </div>
    </div>
  }
} else {
  <div class="panel panel-default newspanel" style="display: none;">
    <div class="panel-heading">
      Nix Neues
    </div>
    <div class="panel-body">
      Entweder handelt es sich hier um einen Fehler oder es gibt tatsächlich so überhaupt nichts zu vermelden.
    </div>
  </div>
}
