<div class="modal modal-wide fade" id="mainAbout" tabindex="-1" role="dialog" aria-labelledby="mainAboutTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mainAboutTitle">DasJott - About</h4>
      </div>
      <div class="modal-body">
        @Html.Partial("Index.cshtml")
      </div> <!-- modal-body -->
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>-->
    </div>
  </div>
</div>
