@using DasJott.News.Models
@model HomeContent
@inject DasJott.Interfaces.Services.IBundleService Bundler

@{
  Bundler.IncludeScript("news");
}

@if (Model.Articles != null && Model.Articles.Count() > 0) {
  foreach (var article in Model.Articles) {
    <div class="panel panel-default newspanel" style="display: none;">
      <div class="panel-heading">
        @article.Headline
      </div>
      <div class="panel-body">
        <span class="dbText">@article.Content</span>
      </div>
    </div>
  }
} else {
  <div class="panel panel-default newspanel" style="display: none;">
    <div class="panel-heading">
      Nix Neues
    </div>
    <div class="panel-body">
      Entweder handelt es sich hier um einen Fehler oder es gibt tatsächlich so überhaupt nichts zu vermelden.
    </div>
  </div>
}

@Bundler.RenderScript()
